:root {
	--text_color: black;
	--bg-Color: rgba(251, 247, 246);
	--section-Bg-Color: rgba(222, 217, 218, 0.592);
	--box-Shadow: 0 0 10px rgba(142, 127, 127, 0.803);
	--items-Box-Shadow: 2px 2px 10px rgb(192, 189, 189);
	--title-Text-Shadow: 0 0 10px rgb(119, 118, 118);
	--section-Text-Shadow: 0 0 10px rgb(132, 129, 129);
	--row-border: 1px solid rgb(193, 193, 193);
	--btn-Hover-Bg: rgb(204, 189, 170);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bg-Color);
	color: var(--text_color);
	min-width: 400px;
}

/* ---- Header ---- */
header {
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 2rem;
}

.controller-container,
.extra-fields-container,
main {
	padding: 0 1rem;
}

section {
	text-align: center;
	margin: 0 auto 50px auto;
	padding: 1rem 0;
	max-width: 800px;
	background-color: var(--section-Bg-Color);
	box-shadow: var(--box-Shadow);
	border-radius: 0.5rem;
}

.title {
	font-size: 1.5rem;
	padding: 10px 0;
	text-decoration: underline;
	text-underline-offset: 5px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 8px;
	margin: 0.35rem 0.5rem;
	padding: 5px 10px;
	box-shadow: var(--items-Box-Shadow);
	border-radius: 10px;
}

.item-name {
	text-align: start;
}

.item-price {
	text-align: start;
	color: #3d3d3d;
}

.item-options {
	display: flex;
	justify-content: center;
	gap: 6px;
	margin-top: 5px;
}

.input-nb {
	padding: 3px;
	border-radius: 5px;
	border: var(--row-border);
	background-color: var(--bg-Color);
	width: 70px;
	height: 28px;
	text-align: center;
}

.item button {
	background-color: inherit;
	border: 1px solid black;
	border-radius: 0.35rem;
	width: 30px;
	height: 28px;
	cursor: pointer;
}
.item button:active {
	background-color: var(--btn-Hover-Bg);
}

/* -------- EXTRA FIELDS -------- */
.extra-row {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 5px;
	margin-bottom: 6px;
}

.extra-row-inputs {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.extra-row input {
	width: 100%;
	padding: 6px;
	border: var(--row-border);
	background-color: var(--bg-Color);
}

.btn-cs {
	background-color: #eee;
	border-radius: 4px;
	padding: 4px 8px;
}
.btn-cs:active {
	background-color: var(--btn-Hover-Bg);
}

/* -------- Invoice -------- */
#invoice {
	width: 100%;
	min-width: 400px;
	max-width: 600px;
	min-height: 150vh;
	padding-top: 10px;
	margin: auto;
	margin-top: 200px;
}
.thanks {
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
}
.invoice-header {
	width: 90%;
	position: relative;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
.img {
	width: 120px;
}
.invoice-header h1 {
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
}
.invoice-header p {
	padding: 0;
	margin: 0;
}
table {
	width: 90%;

	border-collapse: collapse;
	margin: auto;
	font-size: 14px;
}
/* ============ table head ============= */
thead {
	border-bottom: var(--row-border);
	font-size: 14px;
}
th:first-of-type {
	text-align: start;
	width: auto;
}
th:nth-of-type(2) {
	text-align: center;
	width: 70px;
}
th:nth-of-type(3) {
	text-align: center;
	width: 80px;
}
th:last-of-type {
	text-align: end;
	width: 60px;
}

/* ============ table body ============= */

tbody tr {
	border-top: var(--row-border);
	border-bottom: var(--row-border);
}

tr td:first-of-type {
	text-align: start;
}
tr td:nth-child(2),
tr td:nth-child(3) {
	text-align: center;
}

tr td:last-of-type {
	text-align: end;
}

/* ============ table footer ============= */
tfoot {
	border-top: var(--row-border);
	font-weight: bold;
}
